h1 {
  font-family: "Montserrat";
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -.5px;
  padding-left: 25px;
  line-height: 1;
  text-align: center;
  margin: 0;
}

h2 {
  line-height: 1;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
}

p {
    color: #333;
}

img {
  max-width: 40%;
  float: left;
  margin-right: 10px;
}

